body {
  background-color: var(--color-bg-body);
  font-family: var(--font-main);
  color: var(--color-text-main);
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 var(--space-m) 0;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: var(--color-primary);
  transition: color 0.2s;
}

a:hover {
  color: var(--color-primary-hover);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}
