@import url('variables.css');
@import url('base.css');
@import url('layout.css');
@import url('blocks/button.css');
@import url('blocks/card.css');
@import url('blocks/form.css');
@import url('blocks/course-detail.css');
@import url('blocks/profile.css');

